header {
    width: 100%;
    background-color: white;
    height: auto;
    border-bottom: 20px solid;
    border-color: #cccccc;

}

body {
    background-image: url(../Images/intersection.png);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
    height: 75px;
}

.logo {
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    width: auto;
    height: auto;
    background-color: #4aaaa5;
    float: left;
    font-weight: bold;
    line-height: 200%;
    font-size: 190%;
    padding: 7.5px;
}

.nav {
    text-align: right;

}

.navlinks {
    float: right;
    display: block;
    padding: 8px;
    background-color: white;
    font-size-adjust: 150%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    line-height: 200%;
}


.content {
    width: 960px;
    margin: 0 auto;
}

.box-1 {
    width: 600px;
    padding: 20px; 
    text-align: left;
    float: left;
    background-color: white;
    color: #4aaaa5;
    margin-top: 70px;
    height: auto;
    border-color: #dddddd;
    
}

#me {
    color:#4aaaa5;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 20px;
    font-weight: bold;
}

#image {
    float: left;
    padding: 5px;
    width: 200px;
    height: 200px;
}

.bio {
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-left: 1px;
    padding: 2px;
    line-height: 30px
}

.box-2 {
    width: auto;
    height: auto;
    right: 40px;
    border-color: #4aaaa5;
    background-color: white;
    padding: 20px;
    float: left;
    margin-top: 70px;
    margin-left: 100px;
    border-color: #dddddd;
}

#id {
    font-size:;
}

.connect {
    color: #4aaaa5;
    text-align: center;
    background color: #ffffff;
    border-color: #dddddd;
    font-weight: bold;
    font-size: 150%;
}

#colorline {
    background-color: teal;
    text-anchor: end;

}

.links {
    align-content: center;
    width: 50px;
    height: 40px;
}

.portfolio {
    width: 600px;
    padding: 20px; 
    text-align: left;
    float: left;
    background-color: white;
    color: #4aaaa5;
    margin-top: 70px;
}

#pagename {
    font-size: 150%;
    font-weight: bold;
    padding: 10px;
}

.portfolio-item {
    display: inline-block;
    position: relative;
    width: 270px;
    height: 150px;
}
.item-name {
    position: relative;
    top: -50px;
    text-align: center;
    width: 115px;
    background-color: #4aaaa5;
    padding: 5px;
    color: #ffffff;
    z-index: 1000;
}


.form {
    width: 600px;
    padding: 20px; 
    text-align: left;
    float: left;
    background-color: white;
    color: #4aaaa5;
    margin-top: 70px;
    height: auto;
    line-height: 30px;
}

#contactform {
    font-size: 150%;
    font-weight: bold;
}

footer {
    background-color: #666666;
    color: #777777;
    text-align: center;
    text-anchor: end;
    border-bottom: 30px solid #4aaaa5;
}

#footertext {
    color: #777777;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: small;
    text-align: center;
    background-color:#666666;
    padding-bottom: 1cm;
    padding-top: 1cm;
    position:absolute;
    bottom:0;
    width: 100%;
    border-top: 10px solid #4aaaa5;
}

